<div class="calculadora">
    <p class="resultado">
        {{ resultado }}
    </p>
    <div class="botones numeros">
        <button (click)="onClick(1)">1</button>
        <button (click)="onClick(2)">2</button>
        <button (click)="onClick(3)">3</button>
        <button (click)="onClick(4)">4</button>
        <button (click)="onClick(5)">5</button>
        <button (click)="onClick(6)">6</button>
        <button (click)="onClick(7)">7</button>
        <button (click)="onClick(8)">8</button>
        <button (click)="onClick(9)">9</button>
        <button (click)="onClick(0)">0</button>
    </div>
    <div class="botones calculos">
        <button (click)="onClick('+')">+</button>
        <button (click)="onClick('-')">-</button>
        <button (click)="onClick('*')">*</button>
        <button (click)="onClick('/')">/</button>
        <button (click)="onResultado()">=</button>
    </div>
</div>
