<div class="formulario">
    <div class="form-group">
        <label>Nombre del producto</label>
        <input type="text" [(ngModel)]="nuevoProducto.nombre">
    </div>
    <div class="form-group">
        <label>Cantidad {{nuevoProducto.cantidad}}</label>
        <input type="range" min="0" max="15" step="1" [(ngModel)]="nuevoProducto.cantidad">
    </div>
    <div class="form-group">
        <label>Departamento</label>
        <select [(ngModel)]="nuevoProducto.departamento">
            <option value="carniceria">Carnicería</option>
            <option value="fruteria">Frutería</option>
            <option value="hogar">Hogar</option>
            <option value="panaderia">Panadería</option>
        </select>
    </div>
    <button (click)="onClick()">Enviar</button>
</div>