<div class="container">
  <h1>Lista de personajes</h1>
  <h3>
    Páginas: {{numPages}}<br>
    Num Página: {{currentPage}}
  </h3>
  <div class="botones">
    <button class="btn btn-primary mx-2" (click)="changePage(false)" [disabled]="currentPage === 1">Anterior</button>
    <button class="btn btn-primary" (click)="changePage(true)" [disabled]="currentPage === numPages">Siguiente</button>
  </div>
  <div class="row">
    <div class="col-6 col-md-3" *ngFor="let personaje of arrPersonajes">
      <div class="personaje" [ngClass]="{vivo: (personaje.status === 'Alive'), muerto: (personaje.status === 'Dead')}">
        <h3>{{personaje.name}}</h3>
        <img [src]="personaje.image" alt="">
        <p>{{personaje.species}}</p>
      </div>
    </div>
  </div>
</div>