<p>{{texto | reverso}}</p>

<p>{{texto | capitalize}}</p>

<ul>
    <li *ngFor="let num of 5 | numToArr">
        {{num}}
    </li>
</ul>
<!-- 
<p>Precio: {{precio | currency: 'EUR':'symbol':'1.1-1'  }}</p>

<p>Número: {{numero | number:'1.2-4' }}</p>

<p>Fecha Actual: {{fechaActual | date:'dd-MM-yyyy HH:mm:ss'}}</p>

<p>Num Aleatorio: {{numAleatorio | percent:'1.1-2'}}</p>

<p>{{estudiante | json}}</p>

<p>{{texto | titlecase}}</p>

<ul>
    <li *ngFor="let animal of animales | slice:minimo:maximo">
        {{animal}}
    </li>
</ul>
<input type="range" min:0 [max]="animales.length" step="1" [(ngModel)]="minimo"> {{minimo}}
<input type="range" min:0 [max]="animales.length" step="1" [(ngModel)]="maximo"> {{maximo}}

<p>Mensaje: {{prom | async}}</p>

<ul>
    <li *ngFor="let post of promPosts | async">
        {{post.title}}
    </li>
</ul>
 -->
